header {
    background-color: #0f0fdd;
    text-align: center;
}

.navegation > li {
  background-color: #c2c2ff;
  padding: 7px;
  margin: 1em auto;
  width: 20%;
  border: 2px solid;
  border-radius: 5px;
  list-style-type: none;
  display: inline-block;
}

.container {
    display: flex;
    gap: 20px;
}

.box {
    flex: 1;
    padding: 20px;
    text-align: center;
    border: 1px solid #333;
}

/* resumen */
#personal-information{
    background-color: #afafb6;
}
#profesional-information{
    background-color: #afafb6;
}

/* skills */
.centered-section {
    position: relative;
    text-align: center;
    background-color: #afafb6;
}

/* form */
.form-section {
    background-color: #afafb6;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.cuadro-informacion-correo {
  width: 500px; 
  height: 15px; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Arial, sans-serif;
  resize: vertical;
}

.cuadro-indicacion-correo {
  width: 500px; 
  height: 250px; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Arial, sans-serif;
  resize: vertical;
}

/* footer */
footer {
    background-color: #0f0fdd;
    color: white;
    padding: 20px 40px;
    margin-top: auto;
    position: relative;
    text-align: center;
    }

    .footer-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .footer-left p {
      font-size: 14px;
      margin: 0;
    }

    .social-icons {
      display: flex;
      gap: 20px;
    }

    .social-icons a {
      text-decoration: none;
      color: white;
      transition: transform 0.3s ease;
    }

    .social-icons a:hover {
      transform: scale(1.2);
    }

    .social-icons img {
      width: 30px;
      height: 30px;
      filter: brightness(0) invert(1);
      transition: 0.3s;
    }

    .social-icons img:hover {
      filter: brightness(0) invert(0.5) sepia(1) saturate(5) hue-rotate(90deg);
    }

    @media (max-width: 600px) {
      .footer-content {
        flex-direction: column;
        text-align: center;
        gap: 10px;
      }
    }