header, footer {
    background-color: #0f0fdd;
    width: 100%;
    text-align: center;
}

.navegation > li {
  background-color: #c2c2ff;
  padding: 7px;
  margin: 1em auto;
  width: 20%;
  border: 2px solid;
  border-radius: 5px;
  list-style-type: none;
  display: inline-block;
}

footer > p {
    background-color: #0f0fdd;
    position: relative;
    right: 45%;
}

.container {
    display: flex;
    gap: 20px;
}

.box {
    flex: 1;
    padding: 20px;
    text-align: center;
    border: 1px solid #333;
}

#personal-information{
    background-color: #afafb6;
}

#profesional-information{
    background-color: #afafb6;
}
